* {
    box-sizing: border-box;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: rgb(238, 239, 245);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.37);
    border-radius: 0.5rem;
    width: 16rem;
    height: 32rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(4rem, auto) repeat(5, 1fr);
}

.calculator .output {
    width: 100%;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.699);
    color: white;
    grid-column: 1/4;
    min-height: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: x-large;
}

.calculator button {
    cursor: pointer;
    background-color: rgba(180, 191, 197, 0.253);
    border-radius: 0.5rem;
    outline: none;
    border: none;
    border-radius: 0;
}

.calculator button:hover {
    background-color: rgba(180, 191, 197, 0.5);
}